# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
